[advice]
  statusHints = true
[user]
  name = Adrian Artiles
  email = adrian.r.artiles@gmail.com
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = upstream
