[advice]
  statusHints = true
[user]
  name = Adrian Artiles
  email = adrian.r.artiles@gmail.com
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
